.Home{
    

}

.bodies{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.infoAboutInjury{
    background-color: cyan;
    width: fit-content;
    height: fit-content;
}

.bodies>div{
    border: 0.2rem solid black;
}
.bodies>div:nth-of-type(1){
    border-bottom:0.2rem solid transparent; 
}

.textsofBodies{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.body{
    background-color: cyan;
    background-image: url("./../../images/humanBody.svg");
    background-size: cover;
    background-position-x:center;
    height: 27rem;
    width: 13rem;
    display: grid;
    grid-template-columns: repeat(13, 1rem);
    grid-template-rows: repeat(27, 1rem);
}
.gridcell{
    background-color: transparent;
    border-radius: 30%;
    color: white;
    text-align: center;
    line-height: 1rem;
    font-size: 0.8rem;
}