.Welcome{
    width: max-content;
    height: 50%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(44, 44, 44), rgb(131, 131, 131), rgb(201, 200, 200));
    padding: 2rem 2.5rem 4rem 2.5rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.4rem 0.5rem 0rem white;
    text-align: center;
}

.welcomeTitle{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0rem 0.3rem white;
    margin: 0 0 1rem 0;
}

.welcomeQuestion{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.Welcome > button{
    margin: auto;
}